@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto&display=swap');

h1 {
    color: #fafafa;
}

body {
  background-image: url("/assets/images/bg-image.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Roboto", sans-serif;
}

.container-fluid {
    text-align: center;
    color: #fafafa;
}

.card {
    text-align: center;
    color: black;
}

.navbar-brand {
    font-family: "Oswald", sans-serif;
}

.hero-heading-section {
    padding: 250px 0px 250px 0px;
}

.hero-heading-section .col-md-4 .col-12 {
    background-color: black;
}

