@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto&display=swap');

/* -----------General Styles--------- */

h1, h2, h3, h5 {
    color: #fafafa;
    font-family: "Oswald", sans-serif;
}

h1, h2, h3 {
     text-transform: uppercase;
}

body {
  background-image: url("../images/bg-image.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Roboto", sans-serif;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
}

.col-12 {
    background-color: rgba(0, 0, 0, .8);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
}

.container-fluid {
    text-align: center;
    color: #fafafa;
}

.card {
    color: #fafafa;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color:  rgba(5.88, 29.8, 50.59, 0.9);
    border-radius: 30px;
}


.img-fluid {
    width: 60%;
    height: auto;
    object-fit: cover;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 50%;
    border: 1px solid #000000;
}

.youtube {
    max-width: 550px;
    max-height: 400px;
}

/* -----------Navbar--------- */

.navbar-brand {
    font-family: "Oswald", sans-serif;
}

/* -----------Footer--------- */

footer .container-fluid {
    padding-top: 10px;
}

.footer-logo p {
    font-size: 13px;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 30px;
    height: 30px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background-color:  rgba(5.88, 29.8, 50.59, 0.85);
}

/* -----------Hero section--------- */

.hero-heading-section {
    padding: 270px 0px 255px 0px;
}

.hero-heading-content {
    background-color: rgba(0, 0, 0, .8);
    padding-top: 10px;
    padding-bottom: 10px;
    }

/* -----------Introduction section--------- */

.introduction-section {
    margin-top: 40px;
    margin-bottom: 100px;
}

.introduction-section h3 {
    padding-top: 20px;
}

.introduction-section p {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
}

.about-me {
    background-color: rgba(44, 44, 44, 0.9);
    padding-bottom: 20px;
}

.about-me ul li {
    text-align: left;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
}

.smart-philosophy {
    background-color: rgba(78, 78, 78, 0.9);
    padding-bottom: 20px;
}

.smart-philosophy ul li {
    text-align: left;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
}

.smart-philosophy .img-fluid {
    filter: grayscale(100%);
}

.how-i-can-help {
    background-color: rgba(44, 44, 44, 0.9);
    padding-bottom: 20px;
}

/* -----------Testimonial section--------- */

.testimonial-header {
    margin-bottom: 50px;
}

.carousel {
    margin-bottom: 40px;
}

.carousel-item {
    text-align: center;
}

/* -----------Training Offers section--------- */

.training-header-section {
    padding: 270px 0px 255px 0px;  
}

.training-types-section {
    margin-top: 40px;
    margin-bottom: 255px;
}

.training-header {
    background-color: rgba(41, 73, 54, 0.9)
}

.training-types-section h3 {
    padding-top: 20px;
}

.training-types-section p {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 40px;
}

.promotion {
    position: relative;
    color: #fafafa;
    background-color: #294936;
    top: 100px;
    text-align: center;
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.promotion a {
    color: #fafafa;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

.individual-training {
    background-color: rgba(34, 60, 45, 0.9)
}

.group-training {
    background-color: rgba(99, 122, 108, 0.9)
}

.team-training {
    background-color: rgba(34, 60, 45, 0.9)
}

/* -----------Blog-start section--------- */

.blog-heading-section {
    padding: 270px 0px 255px 0px;  
}

.blog-categories-section {
    margin-top: 40px;
    margin-bottom: 255px;
}

.blog-categories-section h3 {
    padding-top: 20px;
}

.blog-categories-section p {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 40px;
}

.blog-header {
    background-color: rgba(15, 76, 129, .9)
}

.blog-category-cards {
    background-color: rgba(78, 78, 78, 0.7)
}

/* -----------Contact Heading section--------- */

.contact-heading-section {
    padding: 270px 0px 300px 0px;
}

.contact-header {
    background-color: rgba(145, 110, 4, 0.9)
}

/* -----------Contact Form section--------- */

.contact-form-section {
    margin-top: 40px;
    margin-bottom: 100px;
}

.contact-form-section h3 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.contact-form-content {
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 70px;
}

.contact-details {
    background-color: rgba(82, 62, 2, 0.9);
    padding-bottom: 40px;
    padding-right: 20px;
    padding-left: 20px;
}

.additional-info {
    background-color: rgba(68, 51, 2, 0.9);
    padding-right: 20px;
    padding-left: 20px;
}

.additional-info p {
    padding-right: 20px;
    padding-left: 20px;
}

.inquiry-type-info {
    background-color: rgba(68, 51, 2, 0.9);
    padding-bottom: 20px;
}

.inquiry-type-info h3 {
    padding-bottom: 30px;
}

.radio {
    text-align: left;
    line-height: 30px;
    padding-bottom: 10px;
}

.send-button {
    margin-bottom: 30px;
    margin-top: 10px;
}

/* -----------Blog Category pages--------- */

.blog-cat-heading-section {
    padding: 270px 0px 320px 0px;
}

.blog-cat-header {
    background-color: rgba(15, 76, 129, .9)
}

.blog-content {
    margin-top: 40px;
    margin-bottom: 100px;
}

.blog-content h2, h3 {
    padding-top: 20px;
}

.blog-content h2 {
    color: #000000;
}

.blog-content h5 {
    color: #000000;
}

.blog-post {
   background-color: rgba(223, 223, 223, 0.97);
   color: #000000;
}

.blog-post p {
    padding-left: 20px;
    padding-right: 20px;
}

.see-also {
    background-color: rgba(114, 113, 113, 0.9)
}

.see-also-card {
    background-color: rgba(80, 79, 79, 0.9);
}

.card-text {
    text-decoration: none;
    color: #fafafa;
}

.blog-image {
    width: 50%;
}

/* -----------Media Queries--------- */

@media screen and (min-width: 992px) {
  .testimonial-small {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .testimonial-large {
    display: none;
  }
}
