@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto&display=swap');

h1 {
    color: #fafafa;
}

body {
  background-image: url("/assets/images/bg-image.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Roboto", sans-serif;
}

.container-fluid {
    text-align: center;
    color: #fafafa;
}

.card {
    text-align: center;
    color: black;
}

.navbar-brand {
    font-family: "Oswald", sans-serif;
}

.hero-heading-section {
    padding: 250px 0px 250px 0px;
}

.hero-heading-content {
    background-color: rgba(0, 0, 0, .8)
    }

.img-fluid {
    width: 100%;
    height: auto;
    object-fit: contain;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 40px;
}

.introduction-section {
    margin-top: 40px;
}

.introduction-section p {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 40px;
}

.about-me {
    background-color: rgba(44, 44, 44, 0.8)
}

.smart-philosophy {
    background-color: rgba(78, 78, 78, 0.8)
}

.smart-philosophy .img-fluid {
    filter: grayscale(100%);
}

.how-i-can-help {
    background-color: rgba(44, 44, 44, 0.8)
}
