@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto&display=swap');

/* -----------General Styles--------- */

h1, h2, h3, h5 {
    color: #fafafa;
    font-family: "Oswald", sans-serif;
}

h1, h2, h3 {
     text-transform: uppercase;
}

body {
  background-image: url("/assets/images/bg-image.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Roboto", sans-serif;
}

.col-12 {
    background-color: rgba(0, 0, 0, .8);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
}

.container-fluid {
    text-align: center;
    color: #fafafa;
}

.card {
    color: #fafafa;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color:  rgba(5.88, 29.8, 50.59, 0.85);
    border-radius: 30px;
}

.img-fluid {
    width: 60%;
    height: auto;
    object-fit: cover;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 50%;
}

/* -----------Navbar--------- */

.navbar-brand {
    font-family: "Oswald", sans-serif;
}

/* -----------Footer--------- */

footer .container-fluid {
    padding-top: 10px;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background-color:  rgba(5.88, 29.8, 50.59, 0.85);
}

/* -----------Hero section--------- */

.hero-heading-section {
    padding: 230px 0px 255px 0px;
}

.hero-heading-content {
    background-color: rgba(0, 0, 0, .8);
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    }

/* -----------Introduction section--------- */

.introduction-section {
    margin-top: 40px;
    margin-bottom: 40px;
}

.introduction-section h3 {
    padding-top: 20px;
}

.introduction-section p {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 40px;
}

.about-me {
    background-color: rgba(44, 44, 44, 0.8)
}

.smart-philosophy {
    background-color: rgba(78, 78, 78, 0.8)
}

.smart-philosophy .img-fluid {
    filter: grayscale(100%);
}

.how-i-can-help {
    background-color: rgba(44, 44, 44, 0.8)
}

/* -----------Testimonial section--------- */



/* -----------Training Offers section--------- */

.training-header-section {
    padding: 220px 0px 255px 0px;  
}

.training-types-section {
    margin-top: 40px;
    margin-bottom: 255px;
}

.training-header {
    background-color: rgba(255, 111, 97, 0.8)
}

.training-types-section h3 {
    padding-top: 20px;
}

.promotion {
    position: relative;
    color: #fafafa;
    background-color: #F96F6D;
    top: 100px;
    text-align: center;
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.promotion a {
    color: #fafafa;
    font-family: "Roboto", sans-serif;
}

.individual-training {
    background-color: rgba(64, 28, 24, 0.8)
}

.group-training {
    background-color: rgba(128, 55, 47, 0.8)
}

.team-training {
    background-color: rgba(64, 28, 24, 0.8)
}

/* -----------Blog-start section--------- */

.blog-heading-section {
    padding: 220px 0px 255px 0px;  
}

.blog-categories-section {
    margin-top: 40px;
    margin-bottom: 255px;
}

.blog-categories-section h3 {
    padding-top: 20px;
}

.blog-header {
    background-color: rgba(15, 76, 129, .9)
}

/* -----------Contact section--------- */

.contact-heading-section {
    padding: 220px 0px 320px 0px;
}

.contact-header {
    background-color: rgba(145, 110, 4, 0.8)
}

.contact-help-section {
    margin-top: 40px;
    margin-bottom: 100px;
}

.contact-help-section h3 {
    padding-top: 20px;
}

.help-questions {
    background-color: rgba(68, 51, 2, 0.9)
}

.help-information {
    background-color: rgba(82, 62, 2, 0.9)
}

.help-book {
    background-color: rgba(68, 51, 2, 0.9)
}

/* -----------Blog Category pages--------- */

.blog-cat-heading-section {
    padding: 220px 0px 320px 0px;
}

.blog-cat-header {
    background-color: rgba(15, 76, 129, .9)
}

.blog-content {
    margin-top: 40px;
    margin-bottom: 100px;
}

.blog-content h2, h3 {
    padding-top: 20px;
}

.blog-post {
   background-color: rgba(44, 44, 44, 0.9)
}

.see-also {
    background-color: rgba(78, 78, 78, 0.9)
}